(
    language: "Rust",
    requirements: [
        "cargo",
    ],
    project_types: [
        Library,
        Binary,
    ],
    command_steps: [
        Step(
            name: "Project type",
            command: PromptProjectType,
        ),
        Step(
            name: "Project name",
            command: PromptProjectName
        ),
    ],
)